go 1.21.5

use (
  ./hello-world
  ./lasagna
  ./weather-forecast
  ./cars-assemble
  ./annalyns-infiltration
  ./welcome-to-tech-palace
  ./party-robot
  ./vehicle-purchase
  ./blackjack
  ./need-for-speed
  ./card-tricks
  ./animal-magic
  ./bird-watcher
  ./interest-is-interesting
)