go 1.21.5

use (
  ./hello-world
  ./lasagna
  ./weather-forecast
  ./cars-assemble
  ./annalyns-infiltration
  ./welcome-to-tech-palace
  ./party-robot
  ./vehicle-purchase
  ./blackjack
  ./need-for-speed
  ./card-tricks
  ./animal-magic
  ./bird-watcher
  ./interest-is-interesting
  ./lasagna-master
  ./leap
  ./booking-up-for-beauty
  ./gross-store
  ./election-day
  ./chessboard
  ./logs-logs-logs
  ./elons-toys
  ./census
  ./parsing-log-files
  ./airport-robot
  ./meteorology
  ./sorting-room
  ./the-farm
  ./expenses
  ./two-fer
  ./raindrops
  ./collatz-conjecture
  ./strain
  ./gigasecond
  ./hamming
  ./scrabble-score
  ./custom-set
  ./isogram
  ./difference-of-squares
  ./luhn
  ./resistor-color
  ./meetup
  ./space-age
  ./nucleotide-count
  ./rna-transcription
  ./pangram
  ./flatten-array
  ./reverse-string
  ./resistor-color-trio
  ./darts
  ./etl
  ./bob
  ./grains
  ./resistor-color-duo
  ./isbn-verifier
  ./roman-numerals
  ./matrix
  ./rotational-cipher
  ./clock
  ./protein-translation
  ./word-count
  ./linked-list
  ./triangle
  ./proverb
  ./anagram
  ./phone-number
  ./largest-series-product
  ./series
  ./acronym
  ./list-ops
  ./twelve-days
  ./sum-of-multiples
  ./bottle-song
  ./sublist
  ./all-your-base
  ./transpose
  ./sieve
  ./tournament
  ./dnd-character
  ./parallel-letter-frequency
  ./nth-prime
  ./prime-factors
  ./armstrong-numbers
)